-- DropForeignKey
ALTER TABLE `activity` DROP FOREIGN KEY `Activity_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `activity` DROP FOREIGN KEY `Activity_customerId_fkey`;

-- DropForeignKey
ALTER TABLE `activity` DROP FOREIGN KEY `Activity_userId_fkey`;

-- DropForeignKey
ALTER TABLE `auditlog` DROP FOREIGN KEY `AuditLog_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `category` DROP FOREIGN KEY `Category_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `category` DROP FOREIGN KEY `Category_productGroupId_fkey`;

-- DropForeignKey
ALTER TABLE `companymodule` DROP FOREIGN KEY `CompanyModule_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `companysetting` DROP FOREIGN KEY `CompanySetting_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `contact` DROP FOREIGN KEY `Contact_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `contact` DROP FOREIGN KEY `Contact_customerId_fkey`;

-- DropForeignKey
ALTER TABLE `customer` DROP FOREIGN KEY `Customer_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `discount` DROP FOREIGN KEY `Discount_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `expense` DROP FOREIGN KEY `Expense_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `invoicecounter` DROP FOREIGN KEY `InvoiceCounter_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `lead` DROP FOREIGN KEY `Lead_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `loginhistory` DROP FOREIGN KEY `LoginHistory_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `opportunity` DROP FOREIGN KEY `Opportunity_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `opportunity` DROP FOREIGN KEY `Opportunity_customerId_fkey`;

-- DropForeignKey
ALTER TABLE `product` DROP FOREIGN KEY `Product_categoryId_fkey`;

-- DropForeignKey
ALTER TABLE `product` DROP FOREIGN KEY `Product_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `product` DROP FOREIGN KEY `Product_productGroupId_fkey`;

-- DropForeignKey
ALTER TABLE `product` DROP FOREIGN KEY `Product_supplierId_fkey`;

-- DropForeignKey
ALTER TABLE `productgroup` DROP FOREIGN KEY `ProductGroup_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `purchaseorder` DROP FOREIGN KEY `PurchaseOrder_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `purchaseorder` DROP FOREIGN KEY `PurchaseOrder_supplierId_fkey`;

-- DropForeignKey
ALTER TABLE `purchaseorderline` DROP FOREIGN KEY `PurchaseOrderLine_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `purchaseorderline` DROP FOREIGN KEY `PurchaseOrderLine_productId_fkey`;

-- DropForeignKey
ALTER TABLE `purchaseorderline` DROP FOREIGN KEY `PurchaseOrderLine_purchaseOrderId_fkey`;

-- DropForeignKey
ALTER TABLE `quote` DROP FOREIGN KEY `Quote_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `quote` DROP FOREIGN KEY `Quote_customerId_fkey`;

-- DropForeignKey
ALTER TABLE `sale` DROP FOREIGN KEY `Sale_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `sale` DROP FOREIGN KEY `Sale_customerId_fkey`;

-- DropForeignKey
ALTER TABLE `sale` DROP FOREIGN KEY `Sale_userId_fkey`;

-- DropForeignKey
ALTER TABLE `sale` DROP FOREIGN KEY `Sale_voidedByUserId_fkey`;

-- DropForeignKey
ALTER TABLE `saledetail` DROP FOREIGN KEY `SaleDetail_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `saledetail` DROP FOREIGN KEY `SaleDetail_productId_fkey`;

-- DropForeignKey
ALTER TABLE `saledetail` DROP FOREIGN KEY `SaleDetail_saleId_fkey`;

-- DropForeignKey
ALTER TABLE `supplier` DROP FOREIGN KEY `Supplier_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `user` DROP FOREIGN KEY `User_companyId_fkey`;

-- DropForeignKey
ALTER TABLE `usersession` DROP FOREIGN KEY `UserSession_companyId_fkey`;

-- DropIndex
DROP INDEX `AuditLog_action_idx` ON `auditlog`;

-- DropIndex
DROP INDEX `AuditLog_createdAt_idx` ON `auditlog`;

-- DropIndex
DROP INDEX `AuditLog_module_idx` ON `auditlog`;

-- DropIndex
DROP INDEX `Company_name_idx` ON `company`;

-- DropIndex
DROP INDEX `LoginHistory_createdAt_idx` ON `loginhistory`;

-- DropIndex
DROP INDEX `LoginHistory_status_idx` ON `loginhistory`;

-- DropIndex
DROP INDEX `UserSession_companyId_fkey` ON `usersession`;

-- AlterTable
ALTER TABLE `auditlog` MODIFY `companyId` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `company` DROP PRIMARY KEY,
    ADD COLUMN `active` BOOLEAN NOT NULL DEFAULT true,
    ADD COLUMN `currentVersion` VARCHAR(191) NULL,
    ADD COLUMN `databaseName` VARCHAR(191) NULL,
    ADD COLUMN `databaseType` ENUM('SHARED', 'DEDICATED') NULL,
    ADD COLUMN `planId` VARCHAR(191) NULL,
    ADD COLUMN `serverId` VARCHAR(191) NULL,
    MODIFY `id` VARCHAR(191) NOT NULL,
    ADD PRIMARY KEY (`id`);

-- AlterTable
ALTER TABLE `companymodule` DROP PRIMARY KEY,
    MODIFY `companyId` VARCHAR(191) NOT NULL,
    ADD PRIMARY KEY (`companyId`, `moduleId`);

-- AlterTable
ALTER TABLE `companysetting` MODIFY `companyId` VARCHAR(191) NOT NULL;

-- AlterTable
ALTER TABLE `loginhistory` MODIFY `companyId` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `user` MODIFY `companyId` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `usersession` MODIFY `companyId` VARCHAR(191) NULL;

-- DropTable
DROP TABLE `activity`;

-- DropTable
DROP TABLE `category`;

-- DropTable
DROP TABLE `contact`;

-- DropTable
DROP TABLE `customer`;

-- DropTable
DROP TABLE `discount`;

-- DropTable
DROP TABLE `expense`;

-- DropTable
DROP TABLE `invoicecounter`;

-- DropTable
DROP TABLE `lead`;

-- DropTable
DROP TABLE `opportunity`;

-- DropTable
DROP TABLE `product`;

-- DropTable
DROP TABLE `productgroup`;

-- DropTable
DROP TABLE `purchaseorder`;

-- DropTable
DROP TABLE `purchaseorderline`;

-- DropTable
DROP TABLE `quote`;

-- DropTable
DROP TABLE `sale`;

-- DropTable
DROP TABLE `saledetail`;

-- DropTable
DROP TABLE `supplier`;

-- CreateTable
CREATE TABLE `Server` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `engine` ENUM('MYSQL', 'POSTGRESQL', 'SQLSERVER') NOT NULL,
    `host` VARCHAR(191) NOT NULL,
    `port` INTEGER NOT NULL,
    `username` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `ssl` BOOLEAN NOT NULL DEFAULT false,
    `active` BOOLEAN NOT NULL DEFAULT true,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `Company` ADD CONSTRAINT `Company_serverId_fkey` FOREIGN KEY (`serverId`) REFERENCES `Server`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `User` ADD CONSTRAINT `User_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `Company`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `AuditLog` ADD CONSTRAINT `AuditLog_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `Company`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `CompanyModule` ADD CONSTRAINT `CompanyModule_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `Company`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `LoginHistory` ADD CONSTRAINT `LoginHistory_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `Company`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `UserSession` ADD CONSTRAINT `UserSession_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `Company`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `CompanySetting` ADD CONSTRAINT `CompanySetting_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `Company`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

